<!DOCTYPE HTML>
<html>

<head>
  <title>Gama Techs Apis</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/UmarGit/Gama-Techs/master/src/assets/logo.png">
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><b style="color: #2c3e50;">
            <img id="hover" src="https://raw.githubusercontent.com/UmarGit/Gama-Techs/master/src/assets/logo.png" style="width: 8%; height: 8%;" />
               Gama Techs
              </b></h1>
          <h2>the future of technologies</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="#">Home</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <h5>March 1st , 2020</h5>
            <p>2020 is our aniversary !<a href="https://gama-techs.netlify.com/">read more</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Useful Api Links</h3>
            <ul>
              <li><a href="/get-api">Corona Data</a>
                <li><a href="/update-get-api">Corona Data Update</a></li>
              </li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Search</h3>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....." />
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content" style="width: auto;">
        <h1>Welcome to the Gama Techs Api</h1>
        <p>
          This api contain data for the website <a href="https://gama-techs.netlify.com/" >GAMA TECHS</a>
        </p>
        <p>
          Please Support Us to get better integrations and happy coding !
        </p>
        <h2>Browser Compatibility</h2>
        <p>This Api Website has been tested in the following browsers:</p>
        <ul>
          <li>Internet Explorer 8</li>
          <li>Internet Explorer 7</li>
          <li>FireFox 3.5</li>
          <li>Google Chrome 6</li>
          <li>Safari 4</li>
        </ul>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <footer>CopyRight by Gama Techs 2020 All Right Reserved</footer>
    </div>
    <p>&nbsp;</p>
  </div>
</body>
</html>
